@import url(fonts.css);
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   color:#1F1F1F;
   font-family:'Poppins';
   background: #fff;
   font-size: 16px;
   font-weight: 400;
}

/* ------------------------------------------------------------------------ */

[class*="__container"] {
   /* все классы которые имеют добавленный контейнер*/
   max-width: 1140px;
   margin: 0 auto;
   padding: 0px 15px;
}



.wrapper {
   /* делаем чтобы Футер был всегда снизу */
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.page {
   /* делаем чтобы Футер был всегда снизу */
   flex: 1 1 auto;
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
/* ------------------------------------------------------------------------------------------- */
body._pc .menu__list > li:hover .menu__sublist {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
   transition: all 0.3s ease 0s;
}
body._touch .menu__list > li{
   display: flex;
   align-items: center;
}
body._pc .menu__list>li {
   display: flex;
   align-items: center;
}
body._touch .menu__arrow{
   display: block;
   width: 8px;
   height: 8px;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
   margin-left: 7px;
   transform: rotate(45deg); 
   transition:transform 0.3s ease 0s; 
}
body._touch .menu__arrow._active{
   transform: rotate(225deg);
   margin-top: 3px;
}
body._pc .menu__arrow {
   display: block;
   width: 8px;
   height: 8px;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
   margin-left: 10px;
   transform: rotate(45deg);
   transition: transform 0.3s ease 0s; 
}
body._touch .menu__link{
   flex: 1 1 auto;
}
body._touch .menu__list > li._active .menu__sublist {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow{
   transform: rotate(-135deg);
  margin-top: 5px;
}
body._pc .menu__list>li:hover .menu__arrow {
   transform: rotate(-135deg);
   margin-top: 5px;
}
/* -------------------------------------------------------------------- */
.headerone {
   background-color: #C2E8CE;
   min-height: 50px;
   padding: 15px 0;
}

.headerone__content {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   color: #1F1F1F;
}
.image{
   position: absolute;
   top: 0;
   right: 0;
   }
.headerone._close{
   display: none;
}

/* !------Header--------------------------------------------------------------------------------- */
   .header {
   background: #fff;
   z-index: 50;
} 
  .header__icons2 {
     display: none;
  }
.header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 20px;
   padding-bottom: 20px;
   gap: 20px;
   min-height: 95px;
}
.header__burger {
   display: none;
}

.menu__list {
   display: flex; 
   align-items: center;
   position: relative;
   z-index: 2;
}
.menu__list > li{
   position: relative;
   padding: 10px 0;
}
.menu__sublist{
   position: absolute;
   top: 100%;
   left: -30px;
   background-color: rgb(73, 71, 71);
   padding: 10px;
   min-width: 140px;
   border-radius: 10px;
  opacity: 0;
  visibility: hidden;
   /* transition: all 0.3s ease 0s; */
}
body._touch .menu__sublist {
   opacity: 1;
   visibility: visible;
   display: none;
   z-index: 100;
}

.menu__arrow {
   display: block;

}
.menu__sublink{
   color: #FFf;
}

.menu__sublist li{
   margin-bottom: 10px;
}
.menu__sublist li:last-child{
   margin-bottom: 10px;
}
.menu__sublink:hover{
   text-decoration: underline;

}
.menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 60px;
}
.header__logo:hover{
   transform: scale(1.1);
   transition: all 0.3s ease 0s;
}
.icon-box:hover{
   transform: scale(1.1);
   transition: all 0.3s ease 0s;
}
.menu__item {
   margin-right: 40px;
}
.icon span{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   right: -1px;
   top: 5px;
   background-color: #FF8126;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   font-size: 9px;
   color: #FFFFFF;
}
._icon-cart{
   position: relative;
}
._icon-search{
   color: #FF8126;
   transition: all 0.3s ease 0s;
}
.icon:hover{
   color: #FF8126;
   transition: all 0.3s ease 0s;
}
.menu__item:last-child {
   margin-right: 0;
}

.menu__link {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   color: #1F1F1F;
}
@media (max-width: 991.8px){
.menu__list {
   align-items: flex-start;
}
 .header__icons2 {
    display: block;
 }
  .header__icons1{
   display: none;
  }
element.style {
   display: none;
}

body._touch .menu__sublist {
   opacity: 1;
   visibility: visible;
   display: none;
   z-index: 100;
}
body._touch .menu__arrow._active {
   transform: rotate(135deg);
   margin-top: 3px;
}
body._touch .menu__arrow {
   transform: rotate(135deg);
   margin-top: 3px;
}
.menu__arrow {
   display: block;
}
body._touch .menu__list>li{
   display: block;
   position: relative;
}
body._touch .menu__arrow{
   position: absolute;
   top: 17px;
   right: -40px;
}
.menu__sublist {
   left: 0;
   position: static;
}

.headerone._close {
   display: none;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
}
body._touch .menu__arrow {
   margin-left: 20px;
   transform: rotate(-45deg);
}
   body._touch .menu__list>li._active .menu__arrow {
   transform: rotate(135deg);
   margin-left: 22px;
   margin-top: -1px;
}  
}

.menu__link:hover {
   text-decoration: underline;
}
.header__icons{
   display: flex;
   gap: 10px;
  
}
.header__icons2{
   margin: 0 auto;
}
.header__icon{
   display: none;
}

.icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   background: #FFFFFF;
   border: 1px solid #BFBFBF;
   border-radius: 50%;
   color: #1F1F1F;
   font-size: 25px;
}
._icon-user:after{
   font-weight: 700;
}
._icon-arrow::after{
   margin-left: 7px;
   font-size: 8px;
}

@media (max-width: 1090px){
.menu__item {
   margin-right: 25px;
}
.menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 25px;
}
}
@media (max-width: 991.98px){
body._lock {
   overflow: hidden;
}
.header__icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 32px;
   height: 32px;
   background: #FFFFFF;
   border: 1px solid #BFBFBF;
   border-radius: 50%;
   color: #1F1F1F;
   font-size: 15px;
}

._icon-search:hover {
   font-size: 18px;
   color: #FF8126;
   transition: all 0.3s ease 0s;
}
.header__burger {
   display: block;
   position: relative;
   width: 32px;
   height: 32px;
   transition: all 0.3s ease 0s;
   z-index: 3;
   background-color: #FF8126;
   border-radius: 50%;
}
   
.header__container {
   position: static;
   width: 100%;
   min-height: 95px;
   background-color: #fff;
   padding: 10px 15px;
}
   
.header__container._active {
   background-color: #FFf;
}
   
.header__burger span {
   position: absolute;
   background-color: #fff;
   left: 15px;
   width: 4px;
   height: 4px;
   top: 14px;
   border-radius: 50%;
   transition: all 0.3s ease 0s;
}
   
.header__burger:before,
.header__burger:after {
   content: '';
   background-color: #fff;
   position: absolute;
   width: 4px;
   height: 4px;
   left: 15px;
   border-radius:50%;
   transition: all 0.3s ease 0s;
   }
   
.header__burger:after {
   bottom: 7px;
}
.header__burger:before {
   top: 7px;
}

.header__logo._active,
.header__logo._active span {
   color: #fff;
}
   
.menu__list {
   display: flex;
   flex-direction: column;
}
.menu__list li {
   margin-bottom: 10px;
   font-size: 12px;
}
.menu__link {
   font-size: 20px;
   line-height: 30px;
}
._icon-arrow::after {
   margin-left: 20px;
   font-size: 8px;
}
      
.menu {
   position: fixed;
   top: 0px;
   left: -100%;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start; 
   gap: 50px;
   padding-top: 130px;
   background-color: #fff;
   transition: all 0.3s ease 0s;
   overflow: scroll;
   z-index: -1;
   padding-left: 16px;
   padding-right: 16px;
   /* padding-bottom: 14%; */
}

.header__icons{
   margin: 0 auto;
   padding-top: 40px;
}
.menu._active {
   left: 0;
   transition: all 0.3s ease 0s;
}
            
.icon-search{
   display: none;
}
                        
.header__burger._active {
   background-color: #FF8126;
}
      
.header__burger._active span {
   display: none;
}
      
.header__burger._active::before {
   width: 16px;
   height: 3px;
   background-color: #FFFFFF;
   border-radius: 7px;
   top: 50%;
   transform: rotate(-45deg) translate(-3px, -6px);;
   transition: all 0.3s ease 0s;
}
      
.header__burger._active::after {
   width: 16px;
   height: 3px;
   background-color: #FFFFFF;
   border-radius: 7px;
   top: 50%;
   transform: rotate(45deg) translate(-6px, 3px);;
   transition: all 0.3s ease 0s;
}
}

/* !                   Main---------------------------------------------------------------- */


.page__main {
   margin-bottom: 80px;
   position: relative;
}
@media (max-width: 1200px) {
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
   background: #FFf;
}
.page__main {
   margin-top: 135px;
}
}

.main-block__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.main-block__image img{
   object-position: right;
   width: 100%;
}



.main__content {
   padding-top: 125px;
   padding-bottom: 195px;
   position: relative;
   z-index: 2;
}

.main__title {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 122%;
   margin-bottom: 5px;
   color: #1F1F1F;
}

.main__subtitle {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   font-size: 26px;
   line-height: 150%;
   margin-bottom: 48px;
   color: #1F1F1F;
}


.button {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   color: #FFFFFF;
   padding: 8px 36px 10px 36px;
   background:#FF8126 ;
   border-radius: 5px;
}
.button:hover{
   background: #823702;
   transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px){
.main-block__image {
   opacity: 0.3;
}
.main__subtitle {
   font-size: 22px;
   font-weight: 700;
}
}
@media (max-width: 650px){
.main__title {
   font-size: 45px;
}
}
@media (max-width: 479px) {
.main-block__image img {
   object-position:65%;
   transform: rotate(90deg);
   height: 500px;
   width: 500px;
}
.main__content{
   padding-top: 170px;
}
.headerone__content{
   justify-content: space-between;
}
.title{
   font-size: 10px;
   line-height: 15px;
}
.page__main {
   margin-top: 0;
}
.main-block__image {
   opacity: 1;
   height: 100%;
   width: 100%;
   } 
.main__content {
   text-align: center;
   padding-bottom: 204px; 
} 
.main__title {
   font-size: 28px;
   }
.main__subtitle {
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 20px;
}
}
@media (max-width: 360px){
.main__title {
   font-size: 25px;
}
}
@media (max-width: 479px) {
.main__content._close {
   padding-top: 125px;
   padding-bottom: 248px;
}
.page__main{
   margin-bottom: 35px;
}
}
@media (max-width: 991.8px){
   .header__icons._close{
      padding-top: 0;
   }
}
/* !------Competitions--------------------------------------------------------- */

.page__competitions{
   margin-bottom: 80px;
}

.competitions__header {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   text-align: center;
   margin-bottom: 40px;
   color: #1F1F1F;
}
@media (max-width: 479px) {
.competitions__header {
   font-size: 30px;
   line-height: 36px;
   margin-bottom: 20px;
   }
.page__competitions {
   margin-bottom: 30px;
}
}
.competitions__header span{
   color: #FF8126;
}
.competitions__body {
   display: flex;
   margin: 0 -15px;
   flex-wrap: wrap;
   flex: 0 1 25%;
}

.competitions__column {
   padding: 0 15px;
   flex: 0 1 25%;
}



.item {
   background:#F7F5F0;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
  
}
.item__image {
   border-radius: 20px 20px 0px 0px;
   overflow: hidden;
   display: block;
   padding-bottom: 60%;
}


@media (max-width: 1020px) {
.competitions__column {
   flex: 0 1 50%;
}

.competitions__column {
   margin-bottom: 25px;
}
}

@media (max-width: 630px) {
.competitions__column {
   flex: 0 1 100%;
}
.competitions__column {
   padding: 0 44px;
}
}
.item__title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   text-align: center;
   margin-bottom: 5px;
   color: #1F1F1F;
}

.item__price {
   display: flex;
   align-items: flex-end;
   margin-bottom: 20px;
   justify-content: center;
}

.price__new {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 150%;
   color: #FF8126;
   margin-right: 7px;
}

.price__old {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   text-decoration-line: line-through;
   color: #656565;
}

.control {
   text-align: center;
}

.actions-main__button {
   padding: 6px 63px 7px 64px;
}
@media (max-width: 1150px){
.actions-main__button {
   padding: 6px 58px 7px 58px;
}
}
@media (max-width: 489px){
.actions-main__button {
   padding: 6px 43px 7px 43px;
   
}
}
.item__content{
   padding-top: 20px;
   padding-bottom: 30px;
}

.item:hover .item__image img {
   transform: scale(1.1);
   /* когда наводишь на карточку фото увеличивается чуток */
}

.item__image img {
   transition: all 0.3s ease 0s;
}
.item__title:hover {
   text-decoration: underline;
}

/* cлайдер */
.slick-slider {}

/* ограничевающая оболочка */
.slick-track {
   display: flex;
   align-items: flex-start;
   
   /* включаем адаптивную высоту для слайдов */
}

/* лента слайдов */
.slick-list {
   overflow: hidden;
}
@media (max-width: 389px){
.competitions__body .slick-track{
   display: block;
   margin-bottom: 20px;
   width: 270px;
   
}
.competitions__body{
   justify-content: center;
}
}


/* точки */
.slick-dots {}

.slick-dots li {}

.slick-dots button {}
/* !-------------------------Works--------------------------------------------------------- */
.page__works{
margin-bottom: 80px;
}
.works__body {
   display: flex;
   gap: 30px;
   flex-wrap: nowrap;
}
@media (max-width: 1100px){
.works__body {
   display: flex;
   gap: 20px;
}
}

.works__column {
   flex: 0 1 20%;
}


.item__images {
   margin-bottom: 20px;
}

.item__text {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   margin-bottom: 10px;
   color: #1F1F1F;
}

.item__subtext {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.0015em;
   color: #1F1F1F;
}
@media (max-width: 992px) {
.works__body {
   display: block;
   text-align: center;
   }
.works__item {
   margin-bottom: 50px;
}
}
/* !-----------------From------------------------------------------------------- */
.from__body {
   display: flex;
}

.page__from {
   margin-bottom: 80px;
}
.from__none{
   display: none;
}
.from__none2{
   display: none;
}

.from__title {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 20px;
   color: #FF8126;
}
.from__title span{
   color: #1F1F1F;
}

.from__content {
   flex: 0 1 50%;
   padding-right: 20px;
 
}

.from__item{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 20px;
   color: #1F1F1F;
   padding-left: 40px;
   position: relative;
}
.from__item span{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 24px;
   height: 24px;
   background: #FF8126;
   border-radius: 50%;
}
.from__item span::before{
   content: '';
   position: absolute;
   left:9px;
   top:5px;
   display: block;
   width: 6px;
   height: 10px;
   border-right: 2px solid #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
   transform: rotate(45deg);
}
.from__subtitle {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 20px;
   color: #1F1F1F;
}
.from__image img {
   width: 100%;
}
.from__image {
   flex: 0 1 50%;
}
.from__button{
   display: inline-block;
   padding: 8px 30px 10px 30px;
}
@media (max-width: 1140px){
.from__body {
   display: block;
   text-align: center;
}
   .from__none{
   display: block;
   margin-bottom: 17px;
}
.from__none img{
   max-width: 100%;
}
.from__image{
   display: none;
}
.from__item{
   text-align: left;
}
.from__content{
   padding-right: 0;
}
}
@media (max-width: 479px){
.from__title{
   font-size: 30px;
   text-align: left;
   font-weight: 500;
   margin-bottom: 10px;
   line-height: 36px;
   }
.from__subtitle{
   text-align: left;
}
}
@media (max-width: 379px){
.from__none2 {
   display: block;
   margin-bottom: 17px;
}
.from__none2 img{
   width: 100%;
}
.from__none {
   display: none;
}
}

/* !------------------------Inner------------------------------------------------- */
.page__inner{
   background-color: #6090C3; 
   margin-bottom: 80px;

}
.inner{
   background: url(../img/Frame.png) repeat;
}
.inner__title{
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   text-align: center;
   margin-bottom: 30px;
   color: #FFFFFF;
}
.inner__content{
   padding: 60px 0;
   text-align: center;
}
.inner__image{
   margin-bottom: 30px;
}
.inner__button{
   display: inline-block;
   padding: 8px 31px 10px 31px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #FFFFFF;
}
@media (max-width: 362px){
.inner__button{
   font-size: 16px;
   padding: 8px 25px 10px 25px;
}
}
/* !----------------------Aside----------------------------------- */

.page__aside{
   margin-bottom: 80px;
}
.aside__body {
   display: flex;
}
.aside__image{
   flex: 0 1 50%;
}
.aside__image img{
   max-width: 100%;
}

.aside__content {
   padding-top: 43px;
   padding-left: 31px;
   flex: 0 1 50%;
}

.aside__title {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   line-height: 48px;
   font-size: 40px;
   margin-bottom: 20px;
   color: #FF8126;
}
.aside__title span{
   color: #1F1F1F;
}

.aside__subtitle {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #1F1F1F;
}
.aside__subtitle2{
   margin-top: 10px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #1F1F1F;
}
.aside__button {
   display: inline-block;
   padding: 8px 31px 10px 31px;
   margin-top: 31px;
}

@media (max-width: 1140px){
.aside__body {
   display: block;
   text-align: center;
}
.aside__content {
   padding-left:0;
}
}
@media (max-width: 479px){
.aside__subtitle, .aside__subtitle2, .aside__title{
   text-align: left;
   }
.aside__title{
   font-size: 30px;
}
.aside__image{
   display: none;
}
.aside__content {
   padding-top:0;
}
}
/* !----------------------Premium------------------------ */
.page__premium{
   margin-bottom: 80px;
}

.premium__header {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   text-align: center;
   margin-bottom: 40px;
   color: #FF8126;
}
@media (max-width: 660px){
.premium__header{
   font-size: 30px;
   line-height: 36px;
}

}
.premium__header span{
   color: #1F1F1F;
}
.premium__image {
   overflow: hidden;
   display: block;
   padding-bottom: 100%;
}



.premium__item {
   min-width: 0;
   padding: 15px;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.premium__item:hover .premium__image img {
   transform: scale(1.1);}
   /* когда наводишь на карточку фото увеличивается чуток */


.premium__image img {
   transition: all 0.3s ease 0s;
}
 

.premium__body {
   display: flex;
   margin: 0 -15px;
   flex-wrap: wrap;
   flex: 0 1 20%;
   padding: 0 60px;
   position: relative;
}
@media (max-width: 430px){
.premium__body{
   padding: 0;
   }
}
.premium__column {
   padding: 0 15px;
   flex: 0 1 20%;
   min-width: 0;
}
/* ------------------------------ */


.premium__body .slick-arrow {
   position: absolute;
   content: '';
   top: 40%;
   z-index: 10;
   font-size: 0;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #FF8126;
}
.premium__body .slick-arrow::before{
   content: '';
   position: absolute;
   left:50%;
   top: 50%;
   display: block;
   width: 11px;
   height: 11px;
   border-right: 2px solid #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
   transform: translate(-50%, -50%);
}

.premium__body .slick-arrow.slick-prev {
   left:10px;
   transform: rotate(135deg);
}

.premium__body .slick-arrow.slick-next {
   right:10px;
   transform: rotate(-45deg);
}
.slick-arrow.slick-disabled {
   background-color: #fff;
   border:2px solid #B2B2B2;
}
.slick-arrow.slick-disabled::before {
   border-right: 2px solid #B2B2B2;
      border-bottom: 2px solid #B2B2B2;
      
}

/* !----------------Box------------------------------- */
.box {
   background: url(../img/Mask\ Group.png) center no-repeat;
   background-size: cover;
}
.page__box{
   background: rgba(255, 129, 38, 0.12);
   margin-bottom: 60px;
}
.box__content{
   padding: 60px 0;
   text-align: center;
}

.box__title {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 40px;
   color: #1F1F1F;
}

.box__icons {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.icon-box {
   margin-right: 30px;
}

@media (max-width: 570px){
.icon-box {
   margin-bottom: 50px;
   margin-left: 15px;
   margin-right: 15px;
}

}
/* !-------------Footer------------------- */
.footer{
   margin-bottom: 80px;
}
.footer__menu{
   display: flex;
   flex-wrap: wrap;
}
.footer__list{
   display: flex;
   flex-wrap: wrap;
}
.footer__item{
   margin-left: 84px;
}
.footer__item2 {
   margin-left: 52px;
}
.footer__logo img:hover{
   transform: scale(1.1);
   transition: all 0.3s ease 0s;
}

.footer__sublink{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   color: #3D3D3D;
}
.footer__menu a:hover{
   text-decoration: underline;
}
.footer__link{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 30px;
   margin-bottom: 10px;
   color: #1F1F1F;
}
@media (max-width: 1140px){
.footer__menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px; 
}
.footer__list{
      justify-content: space-between;
      gap: 50px;
}
.footer__item {
      margin-left: 0px;
}
.footer__item2 {
      margin-left: 0px;
} 
.footer__list {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
      
}
.footer__list {
      display: flex;
      flex-wrap: wrap;
}
.footer__logo img {
      margin-bottom: 73px;
}
   
}
@media (max-width: 470px){
.footer__menu {
      display: block;
}
.footer {
   margin-bottom: 16px;
}
.logo2{
      text-align: center;
}
.footer__list {
      display: block;
}
.footer__link{
      font-size: 20px;
}
.footer__sublink{
      font-size: 20px;
      line-height: 33px;
}
.footer__item{
      margin-bottom: 70px;
      margin-left: 0;
}
.footer__sublist{
      margin-top: 28px;
}
.footer__item2 {
      margin-left:0;
      margin-top: 70px;
      margin-bottom: 36px;
}
}